@import "tailwindcss";


:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-image: url('/image/background3.webp');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
/* 
.info-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  font-weight: bold;
} */